{% load sass_tags %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href={% static "checklist.png" %} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% sass_src 'scss/global.scss' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>ToDo List</title>
  </head>

  <body>
    <h1 class="heading">TODO LIST</h1>

    <div class="todo-list">
      {% for item in list %}
      <div>
        <h2>{{ item.title }}</h2>
        <pre>{{ item.details }}</pre>
        <p>{{ item.date }}</p>
        <form action="/del/{{item.id}}" method="POST" class="button-delete">
          {% csrf_token %}
          <button value="remove" type="submit">
            <span class="glyphicon glyphicon-trash">remove</span>
          </button>
        </form>
      </div>
      {% endfor %}
    </div>

    <form method="POST" class="form">
      {% csrf_token %} {{ forms }}

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
